
.presentation {
    position: absolute;
    top: 0;
    left: 50%;
    color: white;
    font-size: 40px;
}
.h {
    margin: 0;
}

.controller {
    position: absolute;
    bottom: 50%;
    left: 85%;
    color: white;
    font-size: 40px;

}
.controller-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.arrow:hover {
    cursor: pointer;
}